

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Malgun Gothic', 'Spoqa Han Sans', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    line-height: 1.65em;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--background-color);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 10000;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 10px solid var(--background-color-2);
	border-left-color: var(--text-color);
	animation: loaderAnim 0.8s linear infinite forwards;
}

@keyframes loaderAnim {
	to {
		transform: rotate(360deg);
	}
}



a {
	text-decoration: none;
	outline: none;
    color: inherit;

}

a:hover,
a:focus {
	outline: none;
    
}

h1{
  font-weight: 600;
  line-height: 1.2em;
}

h2{
    margin: 16px 0 8px 0;
    font-size: 2.5em;
    line-height: 1.3em;
    word-break: keep-all;
    font-weight: 600;
    width: 400px;
}

p{
  font-size: 1em;
}



/* header */
#header{
    height: 4.6em; 
    left: 0;
    line-height: 3em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 300;
    
}

.bi{
    left: 1.7em;
    top: 1.7em;
    position: absolute;
}

.bi>a{
    border: 0;
    display: block;
    height: inherit;
    line-height: inherit;
}



/* SVG Morph */
.morph-wrap {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
    background-color: #000000;
}

.morph {
	position: relative;
	height: 100%;
	flex: none;
  	fill: none;
	stroke-width: 12px;
}

.content-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	min-height: 600px;
	pointer-events: none;

}

.content {
	position: relative;
	display: grid;
}

.content--layout {
	pointer-events: auto;
	justify-content: center;
	align-content: center;
	grid-template-columns: 107px 400px 507px; 
	grid-template-rows: 200px 146px 130px 20px;
	grid-template-areas:	"... ... ..."
                            "... ... title"
							"... author desc"
							"... ... link";
}

.content__img {
	grid-column: 1 / 4;
	grid-row: 1 / 3;
	opacity: 1;
}

.img1{
    width: 1014px;
    height: 315px;
}

.plane_small{
    opacity: 0;
}

video{
  width: 760px;
  height: 440px;
  opacity: 1;
}

.content__title {
	grid-area: title;
	margin: 0;
	z-index: 10;
}

.content__author {
	grid-area: author;
	margin: 0;
	padding: 1em;
	z-index: 10;
    transform: translate(0,100px);
}

.content__desc {
    font-family: 'Spoqa Han Sans', sans-serif;
	grid-area: desc;
	margin: 0;
	z-index: 10;
	padding: 0 1em;
	cursor: default;
}

.content__img,
.content__title,
.content__author,
.content__desc {
	transition: transform 0.3s ease-out;
}

.content__link {
    font-family: 'Spoqa Han Sans', sans-serif;
	letter-spacing: 0px;
    font-size: 18px;
	pointer-events: auto;
	grid-area: link;
	align-self: end;
	justify-self: start;
	z-index: 10;
	padding: 0 1em 0.15em;
}



/* layout-2 */
.content--layout-2 {
    grid-template-columns: 50px 450px 200px 506px; 
	grid-template-rows: 117px 202px 155px 112px 142px;
	grid-template-areas:	"... ... ... ..."
                            "... ... ... ..."
                            "... ... title title"
							"... ... ... desc"
							"... ... link author";
}

.content--layout-2 .img2 {
	grid-column: 1 / 4;
	grid-row: 1 / 5;
    width:567px;
    height: 679px;
}

.content--layout-2 .content__img3{
    grid-column: 3 / 4;
    grid-row: 2 / 5;
}



/* layout-3 */
.content--layout-3 {
	grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 294px 150px 110px 70px;
	grid-template-areas:	"... ... ... ..."
							"title title title title"
							"... desc desc ..."
                            "... ... link author";
}

.content--layout-3 .content__img {
	grid-column: 2 / 4;
	grid-row: 1 / 4;
}



/* layout-4 */

.content--layout-4 {
    grid-template-columns: 150px 400px 610px;
    grid-template-rows: 150px 150px 160px 20px;
	grid-template-areas:	"... ... ..."
							"... ... title"
							"... author desc"
                            "... ... link";
}

.content--layout-4 .content__img {
	grid-column: 1 / 3;
	grid-row: 1 / 4;
}

.content--layout-4 .content__author {
	justify-self: start;
	align-self: start;
}



/* Section */ 

.section-wrapper{
	width: 100%;
	height: 100vh;
	min-height: 600px;
    position: relative;
    background-color: #ffffff;
    color: rgba(0,0,0,.87);
}

.info-wrapper{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    height: 100%;
    position: relative;
    
}

.info-text{
   width: 635px;
   height: auto;
   float: left;
   position: absolute;
   top:50%;
   transform: translate(0,0);
   transition: all 1s ease-out;
   opacity: 0;
}

.info-title{
    margin-bottom: 64px;
}

.info-p {
    margin-bottom: 24px;
}

.text-bold{
    font-weight: 600;
}

.info-img{
  width: 50%;
  float: right;
}

.first-img{
  z-index: 100;
  width: 350px;
  position: absolute;
  top: 50%;
  transform: translate(0,-30%);
  transition: all 1s ease-out .2s;
  opacity: 0;
  filter: drop-shadow(0 32px 32px rgba(0,0,0,0.3));
  
}

.second-img{
  right: 100px;
  width: 350px;
  position: absolute;
  top: 50%;
  transform: translate(0,-30%);
  transition: all 1s ease-out .3s;
  opacity: 0;
  filter: drop-shadow(0 24px 24px rgba(0,0,0,0.3));
  
}



/* Button */

.info-button{
  margin-top: 64px;
}

button {
  background-color: #000000;
  border-radius: 2px;
  border:#000000 solid 2px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  width: 160px;
  max-height: 45px;
  padding: 0 14px;
  line-height: 42px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  margin: 0 0 20px 0;
  font-family: inherit;
  transition: all 0.2s ease-out;
}

button:hover{
  background-color: #ffffff;
  color: #000000;
}

i{
  margin-right: 6px;
}

.social-box {
  display: inline-block;
}

.social-box:first-child{
  margin-right: 24px;
}

.social {
  font-size: 24px;
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px; 
  text-align: center;
}

.social:last-child{
  margin-right: 0;
}

.button1 {
  margin-right: 8px;
}



/* Recruit */

#recruit{
    width: 100%;
    height: 496px;
    text-align: center;
    background-color: #000000;
    position: relative;
    color: #ffffff;
    overflow: hidden;
}

.recruit-bg{
    background: url('../img/recruit.jpg') no-repeat center;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 170%;
    top: 0;
    z-index: 1;
    opacity: .9;
}

.recruit-wrapper{
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
}

.recruit-h2{
  width: 720px;
  margin: 0 0 16px 0;
}

.button-w{
    background-color: #ffffff;
    color: #000000;
    font-weight: 400;
    margin: 32px 0 0 0;
    width: 200px;
}

.button-w:hover{
   background-color: #000000;
   border: #fff 2px solid;
   color: #ffffff;
}



/* Footer */

#footer{
  background-color: #ffffff;
  padding: 6em 0 6em 0;
  position: relative;
}

.inner{
  width: 1440px;
  margin: 0 auto;
}

.icons{
  color: #000000;
  float: right;
  margin-right: 2em;
}

.icon{
  display: inline-block;
}

.icon i{
  font-size: 32px;
}

.copyright{
  color: rgba(0,0,0,.6);
  list-style: none;
  padding: 0;
  font-size: 12px;
  margin: 0 2em;
}

.copyright li{
  display: inline-block;
  line-height: 1.5em;
  vertical-align: top;
}

.copyright li:first-child{
  margin-right: 80px;
  font-size: 16px;
}



/* Fade */

.fade-in-up{
    opacity: 1;
    transform: translate(0,-50%);
}

.bi-b{
    opacity:0;
}

.bi-bb{
    opacity: 1;
}













