---
layout: blog
title: Blog
permalink: /blog
---
<div class="blog-container">
    <div id="hero" class="blog-top">
        <div class="overlay">
            <div class="title-container">
                <h1 class="ctitle-top">스퀘어랩 기술 블로그</h1>
                <small>여행과 기술을 연결하고, 사용자와 여행을 이어주는 스퀘어랩만의 노하우를 확인해 보세요.</small>
            </div>
        </div>
    </div>
    <div class="blog-row">
        {% for post in site.posts %}
        <div class="post-wrap" id="{{ category | first }}">
            <div class="post-txt">
                <span class="category" style="color: {{ post.color }};">{{ post.categories }}</span>
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                <div class="author">
                    <img class="img-author" src="{{ "/assets/images/blog/" | prepend: site.baseurl }}{{ post.img-author }}">
                    <small>{{ post.author }}</small><small>|</small><small name="locale-date">{{ post.date | date: "%b %-d, %Y" }}</small>
                </div>
                <div class="excerpt"> {{ post.excerpt | truncatewords: 24, '...' }} </div>
                <!--<a href="{{ post.url | prepend: site.baseurl }}" class="read-post"><i class="ri-arrow-right-line"></i>READ POST</a>-->
            </div>
            <div>
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img class="img-responsive" src="{{ "/assets/images/blog/" | prepend: site.baseurl }}{{ post.img }}">
                </a>
            </div>
        </div>
        <div class="spacing-24"></div>
        {% endfor %}
        <div class="hline"></div>
      <!--  {% include sidebar.html %} -->
    </div>
</div>
<script type="text/javascript">
    const images = ['/assets/images/hero-0.jpg',
                    '/assets/images/hero-1.jpg',
                    '/assets/images/hero-2.jpg',
                    '/assets/images/hero-3.jpg'];
    document.getElementById("hero").style.backgroundImage = 'url(' + images[Math.floor(Math.random() * images.length)] + ')';
</script>
<script src="/js/locale-date.js"></script>