---
layout: blog
title: Blog
permalink: /blog
---
<div class="blog-container" id="blog-main">
    <div class="blog-top">
    </div>
    <div class="blog-row">
        <div class="post">
            {% for post in site.posts %}
            <div class="post-wrap" id="{{ category | first }}">
                <div class="post-txt">
                    <span class="category" style="color: {{ post.color }};">{{ post.categories }}</span>
                    <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                    <div class="author">
                        <img class="img-author" src="{{ "/assets/images/blog/" | prepend: site.baseurl }}{{ post.img-author }}">
                        <csmall class="csmall-list">{{ post.author }} |  {{ post.date | date: "%b %-d, %Y" }}.</csmall>
                    </div>
                    <div class="excerpt"> {{ post.excerpt | truncatewords: 24, '...' }} </div>
                    <!--<a href="{{ post.url | prepend: site.baseurl }}" class="read-post"><i class="ri-arrow-right-line"></i>READ POST</a>-->
                </div>
                <div class="post-img">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <img class="img-responsive" src="{{ "/assets/images/blog/" | prepend: site.baseurl }}{{ post.img }}">
                    </a>
                </div>
            </div>
            <div class="spacing-24"></div>

            <!--   <div class="hline"></div> -->

            <div class="spacing-86"></div>
            {% endfor %}

        </div>

      <!--  {% include sidebar.html %} -->
    </div>
</div>

