<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="여행과 기술을 연결하고, 사용자와 여행을 이어주는 스퀘어랩만의 노하우를 확인해 보세요.">
  <meta name="msapplication-TileColor" content="#782bde">
  <meta name="theme-color" content="#ffffff">
  <meta name="google-site-verification" content="-kdxteMBSgKizw-6qHNm1-5nfxb7H6947J64jmjbBEg" />

  <meta property="og:site_name" content="Square Lab 기술 블로그">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.excerpt | strip_html | truncatewords: 24, '...' }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://squarelab.co{{ page.url }}">
  <meta property="og:image" content="{% if page.og-img %}{{ page.og-img }}{% elsif page.img %}{{ page.img }}{% else %}https://res.cloudinary.com/kyte/image/upload/web/blog.jpg{% endif %}">

  <title>Square Lab 블로그</title>

  <link rel="stylesheet" type="text/css" href="/css/blog.css">
  <link rel="stylesheet" type="text/css" href="/css/footer.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157710299-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-157710299-1');
  </script>
</head>