<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="msapplication-TileColor" content="#782bde">
  <meta name="theme-color" content="#ffffff">
  <meta property=“og:site_name” content=“SquareLab”>
  <meta property=“og:title” content="Square Lab - A Light journey to see the world">
  <meta property=“og:description” content="TBD">
  <meta property=“og:type” content=“website”>
  <meta property=“og:url” content=“https://squarelab.co”>
  <meta property=“og:image” content=“https://squarelab.co/images/social.png”>
  
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  
  <!--[if lte IE 8]><script src="{{ "/js/ie/html5shiv.js" | prepend: site.baseurl }}"></script><![endif]-->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ "/css/ie8.css" | prepend: site.baseurl }}" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ "/css/ie9.css" | prepend: site.baseurl }}" /><![endif]-->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://cdn.remixicon.com/releases/v2.0.0/remixicon.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#782bde">
  
  <script type=“application/ld+json”>
       {
           “@context”: “http://schema.org“,
           “@type”: “Organization”,
           “name”: “Square Lab”,
           “url”: “https://www.squarelab.co/“,
           “sameAs”: [
               “https://www.facebook.com/squarelab.co/“,
               “https://www.instagram.com/squarelab.co/“,
           ]
       }
  </script>
</head>
