<div class="side-bar">
    <div class="spacing"></div>
    <h4>Categories</h4>
    <div class="hline-bold"></div>
        <p>
            <a href="/blog"><i class="fa fa-angle-right"></i> 전체보기</a>
           <!-- <span class="badge badge-theme pull-right">{{ paginator.total_posts }}</span>-->
        </p>
       {% for category in site.categories %}
        <p>
            <a href="{{ '/category/#'  | prepend: site.baseurl  }}{{ category | first }}"><i class="fa fa-angle-right"></i> {{ category | first | capitalize }}</a>
            <!--<span class="badge badge-theme pull-right">{{ category | last | size }}</span>-->
        </p>
    {% endfor %}

    <div class="spacing"></div>
</div>

<div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
        <div>
            <div>
                <p>
                    <a href="/blog"><i class="fa fa-angle-right"></i> 전체보기</a>
                    <!-- <span class="badge badge-theme pull-right">{{ paginator.total_posts }}</span>-->
                </p>
                {% for category in site.categories %}
                <p>
                    <a href="{{ '/category/#'  | prepend: site.baseurl  }}{{ category | first }}"><i class="fa fa-angle-right"></i> {{ category | first | capitalize }}</a>
                    <!--<span class="badge badge-theme pull-right">{{ category | last | size }}</span>-->
                </p>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

