---
layout: blog
---


<div class="blog-container">
    <div class="post-top">
        <div class="title-container">
            <h2 class="ctitle-top">{{ page.title }}</h2>
            <div class="author">
                <img class="img-author-2" src="{{ "/assets/images/blog/" | prepend: site.baseurl }}{{ page.img-author }}">
                <csmall class="csmall-top">{{ page.author }} |  {{ page.date | date: "%b %-d, %Y" }}.</csmall>
            </div>
        </div>
        <div class="overlay"></div>
        <img class="img-responsive-2" src="{{ "/assets/images/blog/" | prepend: site.baseurl }}{{ page.img }}">
    </div>
    <div class="blog-row">
        <! -- SINGLE POST -->
        <div class="post">
            <! -- Blog Post  -->
            

              
            {{ content }}

            <div class="spacing-72"></div>
        </div>
        
     <!--   {% include sidebar.html %}  -->

    </div><! --/row -->
</div><! --/container -->




