---
layout: blog
---
<div class="blog-container">
    <div class="post-top">
        <div class="overlay">
            <div class="title-container">
                <h2 class="ctitle-top">{{ page.title }}</h2>
                <div class="author">
                    <img class="img-author-2" src="{{ "/assets/images/blog/" | prepend: site.baseurl }}{{ page.img-author }}">
                    <small class="small-top" >{{ page.author }}</small><small>|</small><small name="locale-date">{{ page.date | date: "%b %-d, %Y" }}</small>
                </div>
            </div>
        </div>
        <img class="img-responsive-2" src="{{ "/assets/images/blog/" | prepend: site.baseurl }}{{ page.img }}">
    </div>
    <div class="blog-row">
        {{ content }}
        <div class="spacing-40"></div>
        <div class="fb-comments" data-href="https://squarelab.co{{ page.url }}" data-num-posts="4" data-width="100%"></div>
        <!--   {% include sidebar.html %}  -->
    </div>
</div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.5&appId=1052544885096271";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script src="/js/locale-date.js"></script>